*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

/* page */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

/* content */

.content {
  display: flex;
  flex-direction: row; /* Указываем направление строк */
  align-items: end;
  width: 100%;
  max-width: 1140px;
  /* background-color: rgb(25, 238, 46); */
}

.content__card-link {
  text-decoration: none; /* Убирает подчёркивание */
  color: inherit;
}

/* content__details */

.content__details {
  width: 100%;
  height: 100%;
  max-width: 390px;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__video-card {
  display: flex; 
  flex-direction: row; /* Указываем направление строк */
  align-items: flex-start; 
  justify-content: space-between;
  /* flex-direction: column; */
}

.content__video-card:hover {
  text-decoration: underline;
}

/* .content__video-card:has(:focus-visible) {
  outline: #fff;
} */

.content__video-card:active {
  background-color: #545050;
}

.content__video-card-title {
  font-size: 30px;
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  width: 196px;
  white-space: nowrap; /* Запрещает перенос строк */
  overflow: hidden; /* Скрывает излишний текст */
  text-overflow: ellipsis; /* Добавляет "..." в конце обрезанного текста */
}

.content__video-card-description {
  width: 196px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: 16.5px;
  display: -webkit-box; /* Добавляем это свойство */
  -webkit-line-clamp: 4; /* Ограничивает текст тремя строками */
  -webkit-box-orient: vertical; /* Добавляем это свойство */
  text-overflow: ellipsis; /* показывает пользователю, что текст обрезан и информация может быть неполной  "..." в конце обрезанного текста */
  overflow: hidden;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 298px;
  overflow-y: auto; /* Добавляет вертикальную прокрутку при необходимости */
  margin-top: 26px;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column; /* Расположить блоки вертикально */
  gap: 30px;
}

/* .content__list-item {
  
} */

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

/* result */

.result {
  width: 100%;
  max-width: 711px;
  margin: 78px 30px 0 0;
}

.result__video-container {
  width: 100%;
  margin-bottom: 16px;
}

.result__video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; /* Сохраняем пропорции видео, обрезая лишнее */
}

.search-form {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 40px;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  /* margin-top: 16px; */
  align-items: flex-start;

  width: 100%;
}

.search-form :nth-child(3) {
  align-self: flex-end;
}

.search-form__fieldset {
  font-family: inherit;
  border: none;
  width: 100%; /* найти решение чтобы поправить букву в подсказки формы*/
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
}

/* сделай для каждого подпункта подсказки */

.search-form__checkbox-list {
  display: flex;
  gap: 39px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:has(:focus-visible) {
  outline: solid 1px #fff;/* TODO: чекбоксы вообще не нажимаются без js */
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items:center;
  width: fit-content; /* TODO: как сделать чтобы подскажка с поле реально растягивалась на всю ширину? */
  gap: 5px;
  padding: 1px;

  /* width: 100%; */
}

.search-form__label:has(:focus-visible) {
  outline: solid 1px #fff;
  /* padding: 1px; TODO: подумать если ставить обводку в пиксель
  то сама рамку уходит, подумать как решить это и сделать
  по мокету*/
  
}

.search-form__textfield {
  border: none; /* Убирает рамку */
  padding: 0; /* Сброс отступов внутри поля */
  background-color: transparent; /* Делает фон прозрачным */
  /* font-family: inherit; Наследует шрифт от родительского элемента */
  color: inherit; 
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  appearance: none;
  

 
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/* search-form__pseudo-checkbox */

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: solid 1px #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;  /* чтобы скрыть элемент */
}

.search-form__pseudo-checkbox::after:checked {
  opacity: 0;  /* сделать его видимым */
}

/* search-form__submit-button */

.search-form__submit-button {
  font-size: 18px;
  font-weight: bold;
  /* padding: 6px 73.5px; */
  border: solid 1px #fff;

  padding: 7px 74.5px; /* Увеличили на 1px */
  margin: -1px;         /* Компенсируем внешний размер */
}

.search-form__submit-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button:focus {
  outline: none;
  /* padding: 1px; TODO: подумать если ставить обводку в пиксель
  то сама рамку уходит, подумать как решить это и сделать
  по мокету*/
  
}

.search-form__submit-button:focus-visible {
  outline: solid 1px #fff;
  outline-offset: 1px; /* Ключевое свойство — создаёт отступ */
  /* padding: 1px; TODO: подумать если ставить обводку в пиксель
  то сама рамку уходит, подумать как решить это и сделать
  по мокету*/
  
}

.search-form__submit-button:active {
  background-color: #545050;
}

сделать псевдоклассы по макету ровно

/* more-button-template */

.more-button {
  width: 100%;
  border: solid 1px #fff;
  padding: 6px 0;
  font-weight: bold;

}

/* скрывает элементы на спранице, но видет скринридерам */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
