*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* page */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

/* content */

.content {
  display: flex;
  flex-direction: row; /* Указываем направление строк */
  align-items: end;
  width: 100%;
  max-width: 1140px;
}

/* content__card-link */

.content__card-link {
  display: block; /* какой цвет у карточки который нужно поставить в задании? */
  color: inherit;
  text-decoration: none; /* Убирает подчёркивание */
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__list-item .content__card-link:focus-visible {
  outline: solid 1px #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item {
  padding: 0 3px;
}

/* content__details */

.content__details {
  width: 100%;
  max-width: 390px;
  height: 100%;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* content__video-card */

.content__video-card {
  display: flex;
  flex-direction: row; /* Указываем направление строк */
  justify-content: space-between;
  align-items: flex-start;
  /* flex-direction: column; */
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card-title {
  width: 196px;
  overflow: hidden; /* Скрывает излишний текст */
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis; /* Добавляет "..." в конце обрезанного текста */
  white-space: nowrap; /* Запрещает перенос строк */
}

.content__video-card-description {
  display: -webkit-box; /* Добавляем это свойство */
  width: 196px;
  overflow: hidden;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 16.5px;
  text-overflow: ellipsis; /* показывает пользователю, что текст обрезан и информация может быть неполной  "..." в конце обрезанного текста */
  -webkit-line-clamp: 4; /* Ограничивает текст тремя строками */
  -webkit-box-orient: vertical; /* Добавляем это свойство */
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: inherit;
  height: 298px;
  margin-top: 26px;
  overflow-y: auto; /* Добавляет вертикальную прокрутку при необходимости */
}

.content__list {
  display: flex;
  flex-direction: column; /* Расположить блоки вертикально */
  gap: 30px;
}

/* content__video */

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

/* result */

.result {
  width: 100%;
  max-width: 711px;
  margin: 78px 30px 0 0;
}

/* result__video */

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Сохраняем пропорции видео, обрезая лишнее */
}

.result__video-container {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

/* search-form */

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
}

.search-form :nth-child(3) {
  align-self: flex-end;
}

/* search-form__fieldset */

.search-form__fieldset {
  box-sizing: border-box;
  width: 100%; /* найти решение чтобы поправить букву в подсказки формы*/
  /* max-width: 255px; */
  max-width: 255px;
  border: none;
  font-family: inherit;
}

.search-form__fieldset-title {
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 18px;
}

/* search-form__label */

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 1px;
}

.search-form__label:has(:focus-visible) {
  outline: solid 1px #fff;
}

/* search-form__checkbox-list */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:has(:focus-visible) {
  outline: solid 1px #fff;
}

/* search-form__textfield */

.search-form__textfield {
  flex-grow: 1; /* чтобы подсказка была во всю ширину своего текста */
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  border: none; /* Убирает рамку */
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 2px 14px 2px 0; /* Сброс отступов внутри поля */
  color: inherit;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  background-color: transparent; /* Делает фон прозрачным */
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/* search-form__pseudo-checkbox */

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: solid 1px #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0; /* чтобы скрыть элемент */
  background-color: #fff;
}

.search-form__pseudo-checkbox::after:checked {
  opacity: 0; /* сделать его видимым */
}

/* search-form__submit-button */

.search-form__submit-button {
  margin: -1px; /* Компенсируем внешний размер для :focus-visible */
  border: solid 1px #fff;
  padding: 5.6px 72.9px; /* Увеличили на 1px */
  font-weight: bold;
  font-size: 18px;
}

.search-form__submit-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: solid 1px #fff;
  outline-offset: 1px; /* Ключевое свойство — создаёт отступ */
}

.search-form__submit-button:active {
  background-color: #545050;
}

/* more-button */

.more-button {
  width: 100%;
  border: solid 1px #fff;
  padding: 6px 0;
  font-weight: bold;
}

/* visually-hidden */

.visually-hidden {
  /* скрывает элементы на спранице, но видет скринридерам */
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* preloader */

.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
